body {
  font-family: 'Muli', sans-serif;
}


/***** GRID *****/

.full-width {
  width: 1200px;
  margin: auto;
  padding-left: 20px;
}

.half-width{
  width: 600px;
  float: left;
}

.third-width{
  width: 400px;
  float: left;
}

.two-thirds-width {
  width: 800px;
  float: left;
}

/***** HEADER *****/

header {
  height: 750px;
  background: black;
}

#top-logo {
  padding: 25px 0px 0 0;
  float: left;
}

#evan-joblin {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 46px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 28px 0 0 20px;
  float: left;
  margin-bottom: 0;
}

#web-design-sub-head {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 23px;
  margin: -5px 0 0 0;
  font-weight: lighter;
  float: left;
  padding: 0 0 0 22px;
}

nav {
  float: right;
  padding: 60px 50px 40px 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: #9b9b9b;
  font-size: 18px;
  padding-left: 40px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  color: #ffff00;
}

#love {
  font-family: 'Montserrat', sans-serif;
  font-size: 410px;
  font-weight: 700;
  color: #2e2c2c;
  text-align: center;
  padding: 35px 0 0 -10px;
  margin: auto 0;
  text-transform: uppercase;
}

#tagline {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  clear: both;
  margin: -325px 0 0 0;
}

.tagline-highlight {
  color: #ffff00;
}

#tagline-love {
  text-transform: uppercase;
}

/***** ABOUT BANNER *****/

#about-banner {
  background: white;
  height: 50px;
  clear: both;
}

#about-banner img {
  float: right;
}

#about-banner h3 {
  color: black;
  margin: auto 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 30px;
  padding: 60px 0 0 70px;
}

#about-underline {
  border: 3px solid #ffff00;
  width: 150px;
  margin: 0 0 0 70px;

}

/***** ABOUT *****/

#about {
  height: 700px;
}

#about img {
  text-align: center;
  margin: 80px 0 0 388px;
  padding: 0 0 0 18px;
}

#about h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 48px;
  text-transform: uppercase;
  padding: 10px 0 0 0;
}

#about h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 400;
  padding: 20px 0;
  text-align: center;
  clear: both;
  margin: -330px 0 0 0;
}

#about p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  margin: 60px 50px 40px 50px;
  line-height: 40px;
}


#artwork {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  color: white;
}

#artwork-underline {
  border: 3px solid white;
  width: 183px;
  margin: -30px 0 0 505px;
}

.button {
    background-color: #9b9b9b;
    font-family: 'Work Sans', sans-serif;
    border: 2px solid #9b9b9b;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    margin: -70px 0 0 465px;
    outline-style: none;
}

/***** SKILLS BANNER *****/

#services-banner {
  background: #9b9b9b;
  height: 110px;
}

#services-banner h3 {
  background: #9b9b9b;
  color: #ffffff;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: auto 0;
  padding: 60px 0 0 70px;
  text-transform: uppercase;
}

#services-underline {
  border: 3px solid #ffff00;
  margin: 0 0 0 70px;
  width: 90px;
}

/****** SKILLS ******/

#work {
  height: 550px;
  background: #9b9b9b;
  text-align: center;
}

#work .full-width {
  padding: 90px 0 80px 0;
}

#work img {
  padding-bottom: 30px;
}

#work h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  width: 220px;
  margin: 0 auto;
  color: #ffffff;
}

#work p {
  font-family: 'Work Sans', serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 35px;
}

.code-highlights {
  color: #ffff00;
}

/***** PORTFOLIO BANNER *****/

#featured-work-banner {
  background: #9b9b9b;
  height: 110px;
}

#featured-work-banner h3 {
  background: #9b9b9b;
  color: #ffffff;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: auto 0;
  padding: 60px 0 0 70px;
  text-transform: uppercase;
}

#featured-work-underline {
  border: 3px solid #ffff00;
  margin: 0 0 0 71px;
  width: 158px;
}

/***** PORTFOLIO ******/


#work-bottom-row {
  height: 650px;
  background: #9b9b9b;
  text-align: center;
}

#work-bottom-row .full-width {
  padding: 90px 0 0 0;
}

#work-bottom-row  img {
  width: 350px;
  padding-bottom: 30px;
}

#work-bottom-row h3 {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: 400;
  width: 350px;
  margin: 0 auto;
  padding: 25px 0 0 0;
  color: #ffffff;
}

#work-bottom-row a {
  text-decoration: none;
  color: white;
}

#work-bottom-row a:visited {
  color: white;
}

#work-bottom-row p {
  font-family: 'Work Sans', serif;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 35px;
}

#coming-soon-box {
  background: white;
  width: 350px;
  height: 220px;
  border: 7px solid black;
  margin: 0 0 30px 25px;
}

#coming-soon-text {
  font-family: 'Raleway', sans-serifl;
  font-size: 30px;
  line-height: 220px;
}
/***** CONTACT *****/

#contact {
  height: 720px;
  background: #000000;
  color: white;
}

#questions {
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  font-weight: 300;
}

#capital-q {
  font-family: 'Raleway', sans-serif;
  font-size: 200px;
  font-weight: 700;
  color: #f0ed0e;
}

#lowercase-s {
  text-transform: lowercase;
  font-size: 150px;
}

#here-for-you {
  font-family: 'Raleway', sans-serif;
  font-size: 39px;
  padding-left: 50px;
}

#yellow-you {
  color: #f0ed0e;
}

#period {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

#contact h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  margin: 0 0 -25px 60px;
}

.two-thirds-width {
  width: 700px;
  height: 370px;
  margin: 0 0 0 60px;
}

.contact-form h3, p {
  font-weight: 300;
  padding: 10px 0 0 20px;
}

.contact-form p {
  color: darkgray;
}

.contact-form {
  border: 12px solid #f0ed0e;
}

#contact-form-text {
  color: darkgray;
  text-transform: uppercase;
}

#send {
  text-align: right;
  text-transform: uppercase;
  padding: 120px 20px 0 0;
}

#little-portrait {
  margin: 20px 0 0 120px;
  float: left;
  border-radius: 50%;
 background: white;
}

#evan-email {
  margin: 30px 0 0 140px;
  float: left;
  text-decoration: none;
  color: white;
}

#evan-highlight {
  color: #f0ed0e;
}

#social-media-contact {
  margin: 0 0 0 103px;
  clear: both;
}

#social-media-contact li{
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  padding-right: 33px;
}

#footer {
  height: 200px;
}

#footer h2 {
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 30px 0 0 0px;
  padding-top: 20px;
  float: left;
}

#other-ej-sites {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  margin: auto 0;
  font-weight: lighter;
  float: left;
  padding: 0 0 5px 0;
  text-decoration: none;
}

#footer a, li {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 20px;
  color: inherit;
}

#footer ul {
  clear: both;
}

#footer li {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  margin: auto 0;
}

#footer img {
  margin: 40px 0 0 160px;
}

#footer-nav {
  float: right;
  margin-right: 40px;
}

#footer-nav li{
  font-size: 15px;
  display: inline-block;
  margin: 30px 0 0 0;
  padding: 40px 0 0 20px;
  text-decoration: none;
  color: #000000;
}

.social-media-bottom {
  clear: both;
  float: left;
  margin: -60px 0 20px 900px;
}

.social-media-bottom li {
  display: inline-block;
  padding: 0 0 20px 33px;
}

.bottom-name h2 {
  margin-left: 20px;
}

/***** CODE AND FLOW PAGE HEADER *****/

.additional-page {
  background: #9b9b9b;
}

.additional-page nav ul li a {
  color: white;
}

.additional-page {
  height: 180px;
}


/***** CODE AND FLOW PAGE BODY *****/

.code-and-flow {
  height: 900px;
  background: #9b9b9b;
  margin: auto 0;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

#code-and-flow-image {
  margin: 20px 0 0 250px;
}

#code-and-flow-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  margin: 20px 0 0 0;
  text-transform: uppercase;
}

.code-and-flow p {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  width: 400px;
  margin: 0 0 0 380px;
}

.code-and-flow h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: yellow;
}

/***** ARTWORK PAGE BODY *****/

.artwork-grid {
  height: 900px;
  background: #9b9b9b;
  margin: auto 0;
  color: white;
  font-family: 'Work Sans', sans-serif;
}

#artwork-grid-image {
  margin: 20px 0 0 150px;
}

#artwork-grid-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0;
}

.artwork-grid p {
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  width: 400px;
  margin: 10px 0 0 380px;
}

.artwork-grid h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  color: yellow;
}











